<%= form_with(model: quick_appointment, local: true) do |form| %>
  <% if quick_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quick_appointment.errors.count, "error") %> prohibited this quick_appointment from being saved:</h2>

      <ul>
      <% quick_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :quick_appointment_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :quick_appointment_lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :quick_appointment_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :quick_appointment_phone %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :quick_appointment_time %>
  </div>

  <div class="field">
    <%= form.label :loan_amt %>
    <%= form.text_field :loan_amt, id: :quick_appointment_loan_amt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
