<p id="notice"><%= notice %></p>

<h1>Quick Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Time</th>
      <th>Loan amt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quick_appointments.each do |quick_appointment| %>
      <tr>
        <td><%= quick_appointment.firstname %></td>
        <td><%= quick_appointment.lastname %></td>
        <td><%= quick_appointment.email %></td>
        <td><%= quick_appointment.phone %></td>
        <td><%= quick_appointment.time %></td>
        <td><%= quick_appointment.loan_amt %></td>
        <td><%= link_to 'Show', quick_appointment %></td>
        <td><%= link_to 'Edit', edit_quick_appointment_path(quick_appointment) %></td>
        <td><%= link_to 'Destroy', quick_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quick Appointment', new_quick_appointment_path %>
