<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @quick_appointment.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @quick_appointment.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quick_appointment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @quick_appointment.phone %>
</p>

<p>
  <strong>Time:</strong>
  <%= @quick_appointment.time %>
</p>

<p>
  <strong>Loan amt:</strong>
  <%= @quick_appointment.loan_amt %>
</p>

<%= link_to 'Edit', edit_quick_appointment_path(@quick_appointment) %> |
<%= link_to 'Back', quick_appointments_path %>
